.image-page {
  background: whitesmoke;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.link-home {
  left: 40px;
  top: 90px;
  position: absolute;
  text-decoration: none;
}

.link-home:before {
  content: "<";
  margin-right: 7px;
}

.image-container {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  background-color: white;
  /*width: 450px;*/
  height: 550px;
  padding: 25px;
  margin-top: 5%;
  border-radius: 10px;
}

.image-form {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  margin-top: 2%;
  margin-bottom: 2%;
  /* margin-right: 25px; */
}

/* .image-form select {
  margin-right: 10px;
} */

.image-form input[type="button"] {
  background-color: rgb(230, 0, 35);
  color: white;
  padding: 3px 15px;
  border-radius: 3px;
}

.one-img {
  width: auto;
  border-radius: 5px;
  align-self: center;
  height: 90%;
}
